@model MES.Models.route

@{
    ViewBag.Title = "流程主檔新增";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid mt-2">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-5 col-md-6 col-sm-10 ">
                <div class="panel panel-group border border-secondary">
                    <div class="panel panel-primary">
                        <div class="panel panel-heading  bg-info">
                            <h4>流程主檔新增</h4>
                        </div>
                        <div class="panel panel-body mt-2 mb-2">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row row-group">
                                @Html.LabelFor(model => model.r_no, htmlAttributes: new { @class = "control-label col-md-3 ColumnHeader" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.r_no, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.r_no, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row row-group">
                                @Html.LabelFor(model => model.r_name, htmlAttributes: new { @class = "control-label col-md-3 ColumnHeader" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.r_name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.r_name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row row-group">
                                <div class="col-md-12">
                                    <input type="submit" value="新增" class="btn btn-primary" />
                                    @Html.ActionLink("返回列表", "List", "Route", new { page = AppSession.MasterPage }, new { @class = "btn btn-success" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
