@model MES.Models.RouteViewModel
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "流程";
}

@section styles {
    <link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" />
}

<div class="container-fluid mt-3">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-10 col-xs-12">
            <div class="panel panel-group border border-secondary">
                <div class="panel panel-primary">
                    <div class="panel panel-heading  bg-info">
                        <h4>流程主檔資料維護</h4>
                    </div>
                    <div class="panel panel-body">
                        @foreach (var item in Model.routesList)
                        {
                            <div class="bg-secondary pt-1">
                                @Html.PagedListPager((IPagedList)Model.routesList, x => Url.Action("MasterPage", new { page = x }))
                            </div>
                            <div>
                                @Html.ActionLink("新增", "CreateMaster", "Route", null, new { @class = "btn btn-success m-1" })
                                @Html.ActionLink("修改", "EditMaster", "Route", new { id = item.rowid }, new { @class = "btn btn-primary m-1" })
                                @Html.ActionLink("刪除", "DeleteMaster", "Route", new { id = item.rowid }, new { @class = "btn btn-danger m-1", onclick = "return confirm('是否確定要刪除?');" })
                            </div>
                            <table class="table row ml-2">
                                <tr>
                                    <td class=" ">
                                        @Html.DisplayNameFor(m => m.routesList.First().r_no):
                                    </td>
                                    <td class=" ">
                                        @Html.DisplayFor(modelItem => item.r_no)
                                    </td>
                                </tr>
                                <tr>
                                    <td class=" ">
                                        @Html.DisplayNameFor(m => m.routesList.First().r_name):
                                    </td>
                                    <td class=" ">
                                        @Html.DisplayFor(modelItem => item.r_name)
                                    </td>
                                </tr>
                            </table>
                        }
                    </div>
                </div>
            </div>
            <div class="panel panel-group border border-secondary">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <td class="">
                                    @Html.ActionLink("新增", "CreateDetail", "Route", null, new { @class = "btn btn-success" })
                                </td>
                                <td class="">
                                    @Html.DisplayNameFor(m => m.route_detailsList.First().sort_no)
                                </td>
                                <td class="">
                                    @Html.DisplayNameFor(m => m.route_detailsList.First().proc_no)
                                </td>
                                <td class="">
                                    @Html.DisplayNameFor(m => m.route_detailsList.First().proc_name)
                                </td>
                                <td class=" ">
                                    @Html.DisplayNameFor(m => m.route_detailsList.First().max_value)
                                </td>
                                <td class="">
                                    @Html.DisplayNameFor(m => m.route_detailsList.First().min_value)
                                </td>
                                <td class="">
                                    @Html.DisplayNameFor(m => m.route_detailsList.First().remark)
                                </td>
                                <td></td>
                            </tr>
                            @foreach (var item in Model.route_detailsList)
                            {
                                <tr>
                                    <td class="">
                                        @Html.ActionLink("修改", "EditDetail", "Route", new { id = item.rowid }, new { @class = "btn btn-primary" })
                                        @Html.ActionLink("刪除", "DeleteDetail", "Route", new { id = item.rowid }, new { @class = "btn btn-danger", onclick = "return confirm('是否確定要刪除?');" })
                                    </td>
                                    <td class="">
                                        @Html.DisplayFor(modelItem => item.sort_no)
                                    </td>
                                    <td class="">
                                        @Html.DisplayFor(modelItem => item.proc_no)
                                    </td>
                                    <td class="">
                                        @Html.DisplayFor(modelItem => item.proc_name)
                                    </td>
                                    <td class="">
                                        @Html.DisplayFor(modelItem => item.max_value)
                                    </td>
                                    <td class="">
                                        @Html.DisplayFor(modelItem => item.min_value)
                                    </td>
                                    <td class="">
                                        @Html.DisplayFor(modelItem => item.remark)
                                    </td>
                                    <td></td>
                                </tr>
                            }
                        </table>
                        <div class="bg-secondary pt-1">
                            @Html.PagedListPager((IPagedList)Model.route_detailsList, x => Url.Action("DetailPage", new { page = x }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>