@model MES.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "ResetPassword";
}

@*<link rel="stylesheet" href="@Url.Content("~/css/reset_pass/opensans-font.css")" />*@
@*<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/reset_pass/style.css")">*@
<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/user/reset_pass.css")">
<script src="@Url.Content("~/Scripts/user/reset_pass.js")"></script>



@*<script>
    $(document).ready(function () {
        $("#show_hide_password_CurrentPassword a").on('mouseout', function (event) {
            event.preventDefault();
            if ($('#show_hide_password_CurrentPassword input').attr("type") == "text") {
                $('#show_hide_password_CurrentPassword input').attr('type', 'password');
                $('#show_hide_password_CurrentPassword i').addClass("fa-eye-slash");
                $('#show_hide_password_CurrentPassword i').removeClass("fa-eye");
            }
        });

        $("#show_hide_password_CurrentPassword a").on('mouseover', function (event) {
            event.preventDefault();
            if ($('#show_hide_password_CurrentPassword input').attr("type") == "password") {
                $('#show_hide_password_CurrentPassword input').attr('type', 'text');
                $('#show_hide_password_CurrentPassword i').removeClass("fa-eye-slash");
                $('#show_hide_password_CurrentPassword i').addClass("fa-eye");
            }
        });

        $("#show_hide_password_NewPassword a").on('mouseout', function (event) {
            event.preventDefault();
            if ($('#show_hide_password_NewPassword input').attr("type") == "text") {
                $('#show_hide_password_NewPassword input').attr('type', 'password');
                $('#show_hide_password_NewPassword i').addClass("fa-eye-slash");
                $('#show_hide_password_NewPassword i').removeClass("fa-eye");
            }
        });

        $("#show_hide_password_NewPassword a").on('mouseover', function (event) {
            event.preventDefault();
            if ($('#show_hide_password_NewPassword input').attr("type") == "password") {
                $('#show_hide_password_NewPassword input').attr('type', 'text');
                $('#show_hide_password_NewPassword i').removeClass("fa-eye-slash");
                $('#show_hide_password_NewPassword i').addClass("fa-eye");
            }
        });

        $("#show_hide_password_ConfirmPassword a").on('mouseout', function (event) {
            event.preventDefault();
            if ($('#show_hide_password_ConfirmPassword input').attr("type") == "text") {
                $('#show_hide_password_ConfirmPassword input').attr('type', 'password');
                $('#show_hide_password_ConfirmPassword i').addClass("fa-eye-slash");
                $('#show_hide_password_ConfirmPassword i').removeClass("fa-eye");
            }
        });

        $("#show_hide_password_ConfirmPassword a").on('mouseover', function (event) {
            event.preventDefault();
            if ($('#show_hide_password_ConfirmPassword input').attr("type") == "password") {
                $('#show_hide_password_ConfirmPassword input').attr('type', 'text');
                $('#show_hide_password_ConfirmPassword i').removeClass("fa-eye-slash");
                $('#show_hide_password_ConfirmPassword i').addClass("fa-eye");
            }
        }); 
    });
</script>*@


@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row margin-top-login">
            <div class="col-xs-10 offset-xs-1 col-sm-6 offset-sm-3 col-md-5 offset-md-4 col-lg-4 offset-lg-4">
                <div class="card  box-shadow">
                    <div class="card-header">
                        <span class="text-primary">修改密碼</span>
                        <span class="text-muted float-xs-right today" title="Today"></span>
                    </div>
                    <div class="card-block">
                        <div class="">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.UserNo)

                            <div class="form-group">
                                @Html.LabelFor(model => model.CurrentPassword, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-9 input-group" id="show_hide_password_CurrentPassword">
                                    @Html.EditorFor(model => model.CurrentPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    <div class="pl-2 pt-2">
                                        <a href="" onclick="return false;"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-9 input-group" id="show_hide_password_NewPassword">
                                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    <div class="pl-2 pt-2">
                                        <a href="" onclick="return false;"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-9 input-group" id="show_hide_password_ConfirmPassword">
                                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    <div class="pl-2 pt-2">
                                        <a href="" onclick="return false;"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger pl-3" })
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="submit" value="變更密碼" class="btn btn-primary" />
                                    @Html.ActionLink("返回首頁", "Index", "Home", null, new { @class = "btn btn-primary pull-right" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}*@

<div class="page-content">
    <div class="form-v4-content">

        @using (Html.BeginForm("ResetPassword", "User", FormMethod.Post, new { @class = "form-detail" }))
        {
            @Html.AntiForgeryToken()
            <h2>修改密碼</h2>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.UserNo)

            <div class="form-group">
                <div class="form-row form-row-1 ">
                    @Html.LabelFor(model => model.CurrentPassword, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12 input-group" id="show_hide_password_CurrentPassword">
                        @Html.EditorFor(model => model.CurrentPassword, new { htmlAttributes = new { @class = "form-control col-10", tabindex = "1" } })
                        <div class="col-2 pl-2 pt-2">
                            <a href="" onclick="return false;" tabindex="-1"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger pl-2" })
                </div>
            </div>

            <div class="form-group">
                <div class="form-row form-row-1">
                    @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12 input-group" id="show_hide_password_NewPassword">
                        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control col-10", tabindex = "2" } })
                        <div class="col-2 pl-2 pt-2">
                            <a href="" onclick="return false;" tabindex="-1"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger pl-2" })
                </div>
            </div>

            <div class="form-group">
                <div class="form-row form-row-1">
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12 input-group" id="show_hide_password_ConfirmPassword"> 
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control col-10", tabindex = "3" } })
                        <div class="col-2 pl-2 pt-2">
                            <a href="" onclick="return false;" tabindex="-1"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger pl-2" })
                </div>
            </div>

            <div class="form-group d-inline-block p-2 ">
                <div class="row">
                    <input type="submit" value="變更密碼" class="passchange col-sm-2 col-md-5  pt-3 pb-3" tabindex = "4" />
                    <div class="col-sm-2 col-md-2 "></div>
                    @Html.ActionLink("返回首頁", "Index", "Home", null, new { @class = "passchange col-sm-2 col-md-5  align-self-center pt-3 pb-3", tabindex = "5" })
                </div>
            </div>
        }
    </div>
</div>