@model IEnumerable<MES.Models.machine>


@{
    ViewBag.Title = "機台";
}

<div class="row justify-content-center m-3">
    <div class="col-md-12">
        <div class="container">
            <div class="h2 mt-2">
                <span class="text-primary">機台列表</span>
            </div>
            <div class="table-responsive">
                <table class="table table-striped custom-table display " id="myDataTable">
                    <thead>
                        <tr scope="col">
                            <th nowrap="nowrap">
                                機台編號
                            </th>
                            <th nowrap="nowrap">
                                機台名稱
                            </th>
                            <th nowrap="nowrap">
                                運作情況
                            </th>
                            <th nowrap="nowrap">
                                備註
                            </th>

                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    var Popup, dataTable;
    $(document).ready(function () {
         dataTable = $('#myDataTable').DataTable({
                "ajax": {
                    "url": '@Url.Action("GetDataList" , "Machine" )',
                    "type": "get",
                    "datatype": "json"
                },
                "language": {
                    url: "@Url.Content("~\\Content\\lang\\Chinese-traditional.json")"
                },
                "order": [[ 0, "asc" ]],
                "columns": [
                    {
                        "data": "m_No", "width": "20px",
                        "render": function (data) {
                            return "<a href='@Url.Action("Multi_Axis_Line_Chart", "Chart")/" + data + "'>"+data+"</a>";
                        }

                    },
                    { "data": "m_Name", "width": "10px" },
                    {
                        "data": "status", "width": "15px",
                        "render": function (data) {
                            if (data == "R") {
                                data = "<img src='@Url.Content("~/Images/red.png")' style='height: 25px; width: 25px' alt='R'/>";
                            }
                            if (data == "Y") {
                                data = "<img src='@Url.Content("~/Images/yellow.png")' style='height: 25px; width: 25px' alt='Y'/>";
                            }
                            if (data == "G") {
                                data = "<img src='@Url.Content("~/Images/green.png")' style='height: 25px; width: 25px' alt='G'/>";
                            }
                            return data;
                        }
                    },
                    { "data": "remark", "width": "50px" }
                ]
         });
    });
</script>