@model IEnumerable<MES.Models.machine>
@*@using PagedList.Mvc;
    @using PagedList;*@

@{
    ViewBag.Title = "機台";
}
<!--<link rel="stylesheet" href="@@Url.Content("~/css/list.css")">
<link href="~/Content/PagedList.css" rel="stylesheet" />

<div class="row justify-content-center m-auto">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="container">
            <div class="h2 mt-2">
                <span class="text-primary">機台列表</span>
            </div>
            <div class="table-responsive">
                <table class="table table-striped custom-table">
                    <thead>
                        <tr>
                            <th scope="col" nowrap="nowrap">
                                @@Html.DisplayNameFor(model => model.m_No)
                            </th>
                            <th scope="col" nowrap="nowrap">
                                @@Html.DisplayNameFor(model => model.m_Name)
                            </th>
                            <th scope="col" nowrap="nowrap">
                                @@Html.DisplayNameFor(model => model.status)
                            </th>
                            <th scope="col" nowrap="nowrap">
                                @@Html.DisplayNameFor(model => model.remark)
                            </th>
                        </tr>
                    </thead>
                    @@foreach (var item in Model)
                    {
                        <tbody>
                            <tr scope="row">
                                <td nowrap="nowrap">-->
@*@Html.DisplayFor(modelItem => item.m_No)*@
<!--@@Html.ActionLink(item.m_No, "Multi_Axis_Line_Chart", "Chart", new { id = item.m_No }, null)
</td>
<td nowrap="nowrap">
    @@Html.DisplayFor(modelItem => item.m_Name)
</td>
<td nowrap="nowrap">
    @@if (item.status == "R")
    {
        <img src="~/Images/red.png" style="height:25px;width:25px" />
    }
    @@if (item.status == "Y")
    {
        <img src="~/Images/yellow.png" style="height:25px;width:25px" />
    }
    @@if (item.status == "G")
    {
        <img src="~/Images/green.png" style="height:25px;width:25px" />
    }-->
@*@Html.DisplayFor(modelItem => item.status)*@
<!--</td>
                                <td nowrap="nowrap">
                                    @@Html.DisplayFor(modelItem => item.remark)
                                </td>
                            </tr>
                        </tbody>
                    }

                </table>
                <div class="float-right">
                    @@Html.PagedListPager((IPagedList)Model, m => Url.Action("List", new { page = m }), new PagedListRenderOptions()
                    {
                        LinkToFirstPageFormat = "第一頁",
                        LinkToPreviousPageFormat = "上一頁",
                        LinkToNextPageFormat = "下一頁",
                        LinkToLastPageFormat = "最末頁",
                        //DisplayLinkToFirstPage=PagedListDisplayMode.Always,
                        //DisplayLinkToLastPage=PagedListDisplayMode.Always,
                        //DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                        //DisplayLinkToNextPage =PagedListDisplayMode.Always,


                        LiElementClasses = new List<string> { "modal-4 " }
                    })
                </div>
            </div>
        </div>
    </div>
</div>-->

<div class="row justify-content-center m-3">
    <div class="col-md-12">
        <div class="container">
            <div class="h2 mt-2">
                <span class="text-primary">機台列表</span>
            </div>
            <div class="table-responsive">
                <table class="table table-striped custom-table display " id="myDataTable">
                    <thead>
                        <tr scope="col">
                            <th nowrap="nowrap">
                                機台編號
                            </th>
                            <th nowrap="nowrap">
                                機台名稱
                            </th>
                            <th nowrap="nowrap">
                                運作情況
                            </th>
                            <th nowrap="nowrap">
                                備註
                            </th>

                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    var Popup, dataTable;
    $(document).ready(function () {
         dataTable = $('#myDataTable').DataTable({
                "ajax": {
                    "url": '@Url.Action("GetDataList" , "Machine" )',
                    "type": "get",
                    "datatype": "json"
                },
                "language": {
                    url: "@Url.Content("~\\Content\\lang\\Chinese-traditional.json")"
                },
                "order": [[ 0, "asc" ]],
                "columns": [
                    {
                        "data": "m_No", "width": "20px",
                        "render": function (data) {
                            return "<a href='@Url.Action("Multi_Axis_Line_Chart", "Chart")/" + data + "'>"+data+"</a>";
                        }

                    },
                    { "data": "m_Name", "width": "10px" },
                    {
                        "data": "status", "width": "15px",
                        "render": function (data) {
                            if (data == "R") {
                                data = "<img src='@Url.Content("~/Images/red.png")' style='height: 25px; width: 25px' alt='R'/>";
                            }
                            if (data == "Y") {
                                data = "<img src='@Url.Content("~/Images/yellow.png")' style='height: 25px; width: 25px' alt='Y'/>";
                            }
                            if (data == "G") {
                                data = "<img src='@Url.Content("~/Images/green.png")' style='height: 25px; width: 25px' alt='G'/>";
                            }
                            return data;
                        }

                    },
                    { "data": "remark", "width": "50px" }
                ]
         });
    });
</script>