<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @AppService.AppName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    <link href="@Url.Content("~/Content/Chart.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/Chart.min.js")"></script>

    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)

    <style>
        #backTop {
            display: block;
            width: 50px;
            height: 50px;
            background-color: lightslategray;
            text-align: center;
            line-height: 50px;
            color: #fff;
            border-radius: 50px;
            position: fixed;
            right: 3%;
            top: 93%;
            z-index: 990;
            opacity: 0;
            border: 2px solid gray;
            font-size: 14px;
        }

        .dropdown-menu a, .dropdown-item, .nav a {
            text-decoration: none; /* 移除超連結底線 */
        }

        .dropdown-menu {
            min-width: 0 !important;
        }
    </style>
    <script>

        $(function () {
            var wh = $(window).width()
            if (wh < 575) {
                $("#b1,#b2,#b3").click(function () {
                    $("#bar").slideUp()
                })

                $('#btn').click(function () {
                    $("#bar").slideToggle()
                })
            }

            var targetArray = ["#about", "#product", "#contact-us"]
            $("#b1,#b2,#b3").click(function () {
                var btnName = $(this).attr('id').charAt(1) - 1
                if (wh < 450) {
                    $("body,html").animate({ scrollTop: $(targetArray[btnName]).offset().top - 80 }, 800)
                }
                else {
                    $("body,html").animate({ scrollTop: $(targetArray[btnName]).offset().top - 50 }, 800)
                }
                $("#backTop").animate({ "opacity": "0.65" }, 1500)
                setTimeout(hintTop, 5000)
                $("#backTop").hover(function () {
                    $(this).css({ "opacity": "1", "cursor": "pointer" })
                }, function () {
                    $(this).css({ "opacity": "0.35" })
                })
            })


            function hintTop() {
                $("#backTop").animate({ "opacity": "0" }, 1500)
            }

            $('#logo,#backTop').click(function () {
                $("body,html").animate({ scrollTop: $("#index").offset().top }, 800)
            })
        })
    </script>
</head>
<body class="p-0 h-100">
    <span id="backTop">Top</span>
    <nav class=" navbar navbar-expand-sm navbar-light bg-light sticky-top">
        @Html.Partial("~/Views/Shared/_PartialBannerHeader.cshtml")
        <button class="navbar-toggler" id="btn" data-toggle="collapse" data-target="#bar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="bar">
            <ul class="nav navbar-nav ml-auto">
                @if (UserAccount.IsLogin == true)
                {

                    if (UserAccount.Role == EnumList.LoginRole.Admin)
                    {
                        @Html.Partial("~/Views/Shared/_PartialMenuAdmin.cshtml")
                    }
                    else
                    {
                        @Html.Partial("~/Views/Shared/_PartialMenuUser.cshtml")
                    }
                    @Html.Partial("~/Views/Shared/_PartialMenuCommon.cshtml")
                }
                else
                {
                    @Html.Partial("~/Views/Shared/_PartialMenuGuest.cshtml")
                }
            </ul>
        </div>
    </nav>
    <div>
        @RenderBody()
        @Html.Partial("~/Views/Shared/_PartialFooter.cshtml")
    </div>
</body>
</html>
